DATABASE_URL="file:./dev.db"
AUTH_SECRET="your-secret-key-here"
AUTH_TRUST_HOST="true"

DB_HOST="ceo-soft.com"
DB_USER="view_ceosoft_gangafarma"
DB_PASSWORD="your-password-here"
DB_NAME="ceosoft_gangafarma"
